<div class="container">
  <div class="login-container">
    <div class="login-header">
      <img src="assets/Logo-white.png" alt="Logo de QuizWiz" class="logo" />
    </div>
    <form class="login-form" (submit)="onSubmit()">
      <h1>Olvidé mi Contraseña</h1>
      <div class="form-group">
        <label for="email">Correo electrónico registrado</label>
        <div class="input-container">
          <span class="icon">📧</span>
          <input
            type="email"
            id="email"
            placeholder="Introduce tu correo electrónico"
            [(ngModel)]="email"
            name="email"
            required
            class="form-control"
          />
        </div>
      </div>

      <button type="submit" class="login-btn">Enviar <span class="icon">✔️</span></button>

      <button type="button" class="signup-btn" [routerLink]="['/registrar']">Registrarse</button>

      <div class="forgot-password">
        <a [routerLink]="['/login']">Recordé mi contraseña <span class="highlight">haz clic aquí</span></a>
      </div>
    </form>

    <div class="illustration">
      <img src="assets/Login_Image.png" alt="Ilustración de Aprendizaje" />
    </div>

    <p class="message">
      Introduce tu correo electrónico con el que hayas creado tu cuenta para que nosotros podamos enviarte tu nueva contraseña
    </p>
  </div>
</div>
