<div class="course-list-container">
  <!-- Header -->
  <div class="header">
    <h2 class="header-title">Tus Cursos Inscritos</h2>
  </div>

  <!-- Verificar si hay cursos inscritos -->
  <div *ngIf="courses.length > 0; else noCourses">
    <!-- Lista de Cursos -->
    <div *ngFor="let course of courses" class="course-card">
      <div class="course-info">
        <!-- Imagen del curso -->
        <img [src]="course.image" alt="{{ course.name }} image" class="course-image" />

        <!-- Detalles del curso -->
        <div class="course-details">
          <h3 class="course-title">{{ course.name }}</h3>
          <p class="course-date">{{ course.date | date: 'dd/MM/yyyy' }} | {{ course.time }}</p>
          <p class="course-enrollment">Disfruta el curso con nosotros</p>
        </div>
      </div>

      <!-- Contenedor del botón de apertura del curso -->
      <div class="open-btn-container">
        <button class="open-btn" (click)="openCourse(course)">
          Abrir
        </button>
        <div class="open-btn-icon">
          <svg height="20" width="20" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M6 10a1 1 0 0 1 1-1h5.586l-2.293-2.293a1 1 0 0 1 1.414-1.414l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L12.586 11H7a1 1 0 0 1-1-1z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje cuando no hay cursos inscritos -->
  <ng-template #noCourses>
    <div class="empty-state">
      <p>No tienes cursos inscritos.</p>
      <button mat-raised-button color="primary" routerLink="/course-categories">Explora Cursos</button>
    </div>
  </ng-template>
</div>
