<div *ngIf="tema" class="course-details-container">
  <!-- Contenedor para la imagen y el título superpuesto -->  
  <div class="course-info">
    <div class="course-image">
      <div class="course-title-overlay">{{ tema.titulo }}</div>
    </div>
    <p><strong>Descripción:</strong> {{ tema.descripcion }}</p>
    <p><strong>Orden:</strong> {{ tema.orden }}</p>
    <p><strong>Recurso:</strong></p>

    <!-- Mostrar recurso multimedia en un iframe -->
    <iframe *ngIf="sanitizedUrl" 
            [src]="sanitizedUrl" 
            width="100%" 
            height="600px">
      Tu navegador no soporta la visualización de este recurso.
    </iframe>
  </div>
  
  <div class="button-container">
    <button class="enroll-btn" [routerLink]="['/theme-edit', tema.idTema]">Editar tema</button>
    <button class="back-btn" (click)="goBack()">Volver a la lista de lecciones</button>
  </div>
</div>

<div *ngIf="!tema" class="no-course-message">
  <p>Curso no encontrado.</p>
  <button class="back-btn" (click)="goBack()">Volver a la lista de cursos</button>
</div>
