.update-container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  color: var(--text-light);
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 30px;
  text-align: left;
  overflow: hidden;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--lime-green);
}

.update-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-half {
  flex: 1;
  min-width: calc(50% - 15px); /* Espacio ajustado entre columnas */
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-light);
  display: block;
}

.input-container {
  position: relative;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--lime-green);
  font-size: 1.4rem;
}

.form-control {
  width: 100%;
  padding: 12px 40px;
  border-radius: 8px;
  border: 2px solid var(--text-light);
  background-color: var(--dark-blue);
  color: var(--text-light);
  font-size: 1rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  box-sizing: border-box;
}

.form-control::placeholder {
  color: var(--text-light);
}

.form-control:focus {
  outline: none;
  border-color: var(--lime-green);
  background-color: var(--dark-blue);
}

.error-message {
  font-size: 0.9rem;
  color: var(--lime-green);
  margin-top: 5px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 25px;
}

.update-btn, .cancel-btn {
  width: 48%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.update-btn {
  background-color: var(--lime-green);
  color: var(--text-dark);
  font-weight: 500;
}

.cancel-btn {
  background-color: transparent;
  color: var(--lime-green);
  border: 2px solid var(--lime-green);
  font-weight: 500;
}

.update-btn:hover {
  background-color: var(--text-light);
  color: var(--dark-blue);
}

.cancel-btn:hover {
  background-color: var(--lime-green);
  color: var(--text-dark);
}
