<div class="course-form">
  <div class="header-container">
    <h2 class="header-title">Editar Tema</h2>
    <div class="header-icons">
      <!-- Botón para cancelar -->
      <button type="button" class="icon-btn close-btn" (click)="onCancel()">
        <svg height="28" width="28" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"></path>
        </svg>
      </button>
    </div>
  </div>

      <form [formGroup]="themeForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <!-- Título -->
         <div class="details-section">
          <div class="form-group input-group">
            <mat-label>Título del tema</mat-label>
            <div class="input-wrapper">
              <input matInput formControlName="titulo" />
              <mat-error *ngIf="themeForm.get('titulo')?.invalid && themeForm.get('titulo')?.touched">
                {{ getErrorMessage('titulo') }}
              </mat-error>
            </div>
          </div>
    
          <!-- Descripción -->
          <div class="form-group input-group">
            <mat-label>Descripción</mat-label>
            <div class="input-wrapper">
              <textarea matInput formControlName="descripcion" rows="4"></textarea>
              <mat-error *ngIf="themeForm.get('descripcion')?.invalid && themeForm.get('descripcion')?.touched">
                {{ getErrorMessage('descripcion') }}
              </mat-error>
            </div>
          </div>

          <div class="form-row">
            <!-- Orden -->
            <div class="form-group input-group">
              <mat-label>Orden</mat-label>
              <div class="input-wrapper">
                <input matInput type="number" formControlName="orden" />
                <mat-error *ngIf="themeForm.get('orden')?.invalid && themeForm.get('orden')?.touched">
                  {{ getErrorMessage('orden') }}
                </mat-error>
              </div>
            </div>

            <!-- Estado -->
            <div class="form-group input-group">
              <mat-label>Estado del tema</mat-label>
              <div class="input-wrapper">
                <mat-select formControlName="estado">
                  <mat-option [value]="true">Activo</mat-option>
                  <mat-option [value]="false">Inactivo</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
    
          <!-- Recurso Multimedia -->
          <div>
            <p>Recurso actual: {{ themeForm.get('recursoMultimedia')?.value }}</p>
            <input type="file" (change)="onFileSelected($event)" />
          </div>
         </div>
          <!-- Botones -->
          <div class="form-group submit-group">
            <button class="submit-btn" type="submit">Guardar Cambios</button>
          </div>
      </form>
  </div>
  