<div *ngIf="course" class="course-details-container">
  <h2 class="course-title">{{ course.nombre }}</h2>

  <img [src]="course.portada || 'assets/default-image.png'" alt="Course Image" class="course-image" />

  <div class="course-info">
    <p><strong>Descripción:</strong> {{ course.descripcion }}</p>
    <p><strong>Dificultad:</strong> {{ course.dificultad }}</p>
    <p><strong>Categoria:</strong> {{ course.categoriaId }} </p>
  </div>

  <!-- Contenedor de los botones -->
  <div class="button-container">
    <!-- Botón para inscribirse en el curso -->
    <button class="enroll-btn" (click)="enrollInCourse()" *ngIf="!isEnrolled">
      Inscribirse en el Curso
    </button>

    <!-- Mensaje de inscripción -->
    <p *ngIf="isEnrolled" class="enrolled-message">Ya estás inscrito en este curso</p>

    <!-- Botón para volver -->
    <button class="back-btn" (click)="goBack()">Volver a la lista de cursos</button>
  </div>
</div>

<!-- Mostrar mensaje si no se encontró el curso -->
<div *ngIf="!course" class="no-course-message">
  <p>Curso no encontrado.</p>
  <button class="back-btn" (click)="goBack()">Volver a la lista de cursos</button>
</div>
