:root {
  --dark-blue: #1b232d;
  --light-cream: #f2f2f2;
  --lime-green: #2a919d;
  --text-light: #e6e5e6;
  --error-red: #ff6b6b;
  --button-color: #f38f38; /* Nuevo color para el botón */
}

.course-form {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  background-color: var(--light-cream);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-title {
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--dark-blue);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: color 0.2s, transform 0.2s;
}

.icon-btn svg {
  height: 28px;
  width: 28px;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.close-btn {
  color: var(--dark-blue);
}

.details-section {
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--text-light);
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background: var(--light-cream);
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  overflow: hidden;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  width: 100%;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  color: var(--dark-blue);
  background: transparent;
  outline: none;
  box-sizing: border-box;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
  color: var(--dark-blue);
  font-style: italic;
}

.input-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.form-group label {
  font-weight: bold;
  color: var(--dark-blue);
  margin-bottom: 8px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: var(--lime-green);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: var(--error-red);
  font-size: 14px;
  margin-top: 5px;
}

.image-preview {
  margin: 20px 0;
  text-align: center;
}

.preview-image {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--lime-green);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.submit-group {
  text-align: center;
}

.submit-btn {
  background-color: var(--button-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.submit-btn:hover {
  background-color: #e8939f; /* Ligero cambio al pasar el mouse */
  transform: scale(1.05);
}

.submit-btn:active {
  transform: scale(0.98);
}
