/* Para asegurarnos de que el contenedor ocupe toda la altura de la pantalla */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-light); /* Fondo general */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Aseguramos que ocupe toda la altura de la pantalla */
}

/* El login-container centrado */
.login-container {
  display: flex;
  background-color: var(--dark-blue);
  color: var(--text-light);
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilo del header y logo */
.login-header {
  text-align: left;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.logo {
  width: 80px;
}

/* Título */
h1 {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Grupo del formulario */
.form-group {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--text-light);
  font-size: 1.2rem;
}

/* Estilos del input */
.form-control {
  width: 100%;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  border: 2px solid var(--text-light);
  margin-top: 5px;
  background-color: var(--dark-blue);
  color: var(--text-light);
}

.form-control::placeholder {
  color: var(--text-light);
}

.form-control:focus {
  outline: none;
  border-color: var(--lime-green);
}

/* Botones */
.login-btn {
  width: 100%;
  background-color: var(--lime-green);
  color: var(--text-dark);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.signup-btn {
  width: 100%;
  background-color: var(--lime-green);
  color: var(--text-dark);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 15px;
}

/* Efecto hover en los botones */
.login-btn:hover, .signup-btn:hover {
  background-color: transparent;
  color: var(--lime-green);
  border: 2px solid var(--lime-green);
}

/* Olvidé mi contraseña */
.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: var(--text-light);
  text-decoration: none;
}

.forgot-password .highlight {
  color: var(--lime-green);
  font-weight: bold;
}

/* Ilustración */
.illustration {
  background-color: var(--light-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 10px;
  border-radius: 20px;
}

.illustration img {
  max-width: 100%;
  height: auto;
}

/* Estilo de los iconos */
.icon {
  font-size: 1.2rem;
  color: var(--lime-green);
}

.password-container {
  position: relative;
}

.toggle-visibility-btn {
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem; /* Adjust as needed */
  outline: none;
}
