.custom-dialog {
  width: 350px;
  padding: 25px;
  background-color: var(--dark-blue); /* Fondo oscuro */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  color: var(--text-light); /* Texto claro */
}

.dialog-title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: var(--lime-green); /* Título en verde lima */
}

.dialog-content {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-blue); /* Texto en crema */
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 12px 24px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cancel-btn {
  background-color: var(--light-cream); /* Fondo crema */
  color: var(--dark-blue); /* Texto oscuro */
}

.cancel-btn:hover {
  background-color: var(--lime-green); /* Hover en verde lima */
  color: var(--text-dark); /* Texto oscuro */
  transform: scale(1.05);
}

.confirm-btn {
  background-color: var(--lime-green); /* Fondo verde lima */
  color: var(--text-dark); /* Texto oscuro */
}

.confirm-btn:hover {
  background-color: var(--light-cream); /* Hover en crema */
  color: var(--dark-blue); /* Texto oscuro */
  transform: scale(1.05);
}
